<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<p>{{ Date }}</p>
<p>{{ WeatherSymbolName }}</p>
<p>{{ WeatherTemperatue }} &deg; C</p>
<p>lokal temperatur:  {{ lokaltemperatur.Temperatur }} &deg; C</p>
<img src="cam.jpg" width="400">
<!-- flyttet til egen side
<h3>Opskrifter</h3>
<ul>
    {% for opskrift in Opskrifter %}
        <li>
            <p> Id : {{ opskrift.Id }}</br>
                Titel : {{ opskrift.Titel }}</br>
                Ingredienser : {{ opskrift.Ingredienser }}</br>
                Opskrift : {{ opskrift.Opskrift }}</p></li>
    {% endfor %}
</ul>
-->
<p><form method="post">
    <input type="text" name="GetOpskriftIdFelt" placeholder="Skriv id for at søge efter id">
    <input type="submit" name="GetOpskriftKnap" value="Vis opkskrifter">
</form>
</br>
<form method="post">
    <input type="number" name="DeleteOpskriftId" placeholder="Id" title="Skriv Id på den opskrift du vil slette" required>
    <input type="submit" name="DeleteOpskriftSubmit" value="Slet Opskrift">

</form>
</br>
<form method="post">
    <input type="number" name="UpdateOpskriftId" placeholder="Id" title="Skriv Id for at kunne opdatere Opskrift">
    <input type="submit" name="UpdateOpskriftSubmit" value="Opdater Opskrift">
    </br>
    </br>
    <input type="text" name="CreateOpskriftTitel" placeholder="Titel" required>
    <input type="text" name="CreateOpskriftIngredienser" placeholder="Ingredienser" required>
    <input type="text" name="CreateOpskrift" placeholder="Opskrift" required>
    <input type="submit" name="CreatueOpskriftSubmit" value="Lav Opskrift">
</form>
</p>
<h3>Noter</h3>
<ul>
{% for Note in Noter %}
    <li>
        <p> Id : {{ Note.Id }}</br>
            Titel : {{ Note.Titel }}</br>
            Note : {{ Note.Note }}</br> </p>
{% endfor %}
</ul>
<p><form method="post">
    <input type="submit" name="GetNoteKnap" value="Vis Noter">
</form>
</br>
<form method="post">
    <input type="number" name="UpdateNoteId" placeholder="Id" title="Skriv Id for at kunne opdatere note">
    <input type="text" name="CreateNoteTitel" placeholder="Titel" title="Titel til din note" required>
    <input type="submit" name="UpdateNoteSubmit" value="Opdater Note"> </br>
    <input type="text" name="CreateNoteNote" placeholder="Skriv her" title="Skriv din tekst her">
    <input type="submit" name="CreateNoteSubmit" value="Opret note">
</form>
<form method="post">
    <input type="number" name="DeleteNoteId" placeholder="Id" title="Skriv Id på den Note du vil slette" required>
    <input type="submit" name="DeleteNoteSubmit" value="Slet Note">

</form>
</body>
</html>