<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9,maximum-scale=.9, user-scalable=0">

    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="assets/js/daynightScript.js"></script>
    <link rel="stylesheet" href="assets/bgstyle-day.css" id="nightModeStyle">
<script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('Time').innerHTML =
        h + ":" + m;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
</script>
</head>
<body onload="startTime();nightModeStyle();">
<article>
    {% include 'Nav.php' %}
    <section>
        {% if cookies.newsWidget == "true" %}
        <div id="News">
            {% for new in NewsXml %}

            <p>- {{ new.title }}</p>
            {% endfor %}
        </div>
        {% else %}
            <img id="mlpImg" src="assets/My-Little-Pony-PNG-Pic.png" width="400">

        {% endif %}

        <aside>
            {% if cookies.dateTimeWidget == "true" %}
            <div id="DateTime">
                <span id="Time"></span>
                <span id="Date">{{ Date }}</span>
            </div>
            {% endif %}
            {% if cookies.weatherWidget == "true" %}
        
            <div id="SymbolName">
                <p>{{ WeatherTemperatue }} <span id="temperaturSignatur">&deg;C</span></p>
                
                <img src="assets/weatherIcons/{{ WeatherSymbolVar }}.png" alt="">
                <i>{{weatherDescription}}</i>
                
            </div>
            {% endif %}
            {% if cookies.weatherWidget == "true" %}
            
            <div id="FridgeTemperature">Køleskab:  {{ lokaltemperatur.Temperatur }} &deg;C</div>
            {% endif %}

            <label for="fridgeImgCheck"><i class="fa fa-camera fa-fw"></i></label>
            <input type="checkbox" name="fridgeImgCheck" id="fridgeImgCheck">
            <img src="cam.jpg" id="fridgeImg">
        </aside>
        
    </section>
</article>
    <script>
            $(function(){
                $("#FridgeTemperature").load("controllers/getTemperature.php?page=getNow");
                setInterval(function(){
                    $("#FridgeTemperature").load("controllers/getTemperature.php?page=getNow");
            },15000)
        });
    </script>
</body>
</html>