<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vis Opskrift</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9,maximum-scale=.9, user-scalable=0">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <script src="assets/js/daynightScript.js"></script>
    <link rel="stylesheet" href="assets/bgstyle-day.css" id="nightModeStyle">
</head>
<body onload="nightModeStyle()">
<article>
	{% include 'Nav.php' %}
	<section id="Opskrift">
		{% for opskrift in Opskrift %}
			<div id="header">
                <h2>{{ opskrift.Titel }}</h2>
                <a href="NyOpskrift.php?edit={{ opskrift.Id }}" class="abtn"><i class="fa fa-fw fa-edit"></i> Ret Opskrift</a>
                <form method="post">
	                <button
	                	onclick='return confirm("Er du sikker på du vil slette opskriften?")'
	                	class='btn'
	                	style="background-color: #e74c3c;"
	                	type='submit'
	                	value="{{ opskrift.Id }}"
	                	name="DeleteOpskriftSubmit">
	            		<i class="fa fa-times fa-fw"></i> Slet Opskrift
	            	</button>
            	</form>
            </div>
		        <h3>Ingredienser</h3>
		        {% if opskrift.Ingredienser == "" %}
					<p><i>-Ingen ingredienser</i></p>
		        {% else  %}
		        	<p>{{ opskrift.Ingredienser | nl2br}}</p>
		        {% endif %}
		        <h3>Opskrift</h3>
		        {% if opskrift.Opskrift == "" %}
		        	<p><i>-Ingen opskrift</i></p>
		        {% else  %}
		        	<p>{{ opskrift.Opskrift | nl2br}}</p>
				{% endif %}
		    {% endfor %}
	</section>
</article>


</body>
</html>
