<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noter</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9,maximum-scale=.9, user-scalable=0">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <script src="assets/js/daynightScript.js"></script>
    <link rel="stylesheet" href="assets/bgstyle-day.css" id="nightModeStyle">
    <style>
        body {
            position: fixed;
            overflow: hidden;
        }
    </style>
</head>
<body onload="nightModeStyle()">

<article>
    <a href="noter.php" id="GoBackToNotes"></a>

    {% include 'Nav.php' %}
        
    <div id="note">
        <h4>{{ NoteSingle.Titel }}</h4>
        <p>{{ NoteSingle.Note | nl2br }}</p>
        <form method="post">
            <input type="hidden" name="DeleteNoteId" value="{{ Note.Id }}">
            <a href="nynote.php?edit={{ NoteSingle.Id }}" style="color: #2194EF; text-decoration: none; font-size: 13px; display: inline-block; padding: 7px;"><i class="fa fa-fw fa-edit"></i> Ret Note</a>
            <!-- <button type="submit" name="DeleteNoteSubmit"><i class="fa fa-fw fa-times"></i> Slet Note</button> -->
            <button
                onclick='return confirm("Er du sikker på du vil slette noten?")'
                style="color: #e74c3c;"
                type='submit'
                value="{{ NoteSingle.Id }}"
                name="DeleteNoteSubmit"><i class="fa fa-times fa-fw"></i> Slet Note</button>

        </form>
    </div>
    <section id="Noter">
        <div id="header">
                <h3><i class="fa fa-fw fa-sticky-note"></i> Noter</h3>
                <a href="nynote.php" class="abtn"><i class="fa fa-fw fa-plus"></i> Ny Note</a>

            </div>
            <ul>
                

                {% for Note in Noter %}
                    <li>
                        {% if theOpendNote == Note.Id %}
                            <a href="note.php" class="theOpened">
                        {% else %}
                            <a href="note.php">
                        {% endif %}   
                            <h4>{{ Note.Titel }}</h4>
                            <p>{{ Note.Note | nl2br }}</p>
                        </a>
                    </li>

                {% endfor %}

            </ul>

    </section>

</article>
</body>
</html>